body {
    font-family: Arial, sans-serif;
    background-color: #479f3c;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 40px;
    background-color: rgb(99, 67, 67);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    margin-top: 0;
    color: #333;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
  }
  
  button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: rgb(224, 129, 129);
    color: rgb(209, 32, 32);
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
    border: none;
  }
  
  button:hover {
    background-color: #555;
  }
  
  p {
    margin-bottom: 10px;
  }
  
  #message {
    font-weight: bold;
    text-align: center;
  }
  
  #score,
  #highscore {
    font-weight: bold;
  }
  
  #play-button {
    display: none;
  }
  